*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #3985E4, #ACCBF0);
}
nav{
    background-color: rgba(255, 255, 255, 0.5);
}
.container{
    justify-content: center;
    align-items: center;
}

.list-group-item{
    background-color: rgba(255, 255, 255, 0.5);
    height: 5vh;
    align-items: center;
    display: flex;
}
#taskInput{
    height: 5vh;
}
#parentElement{
    border-radius: 10px;
}
#heading{
    margin-top: 7px;
}